table.variations td.label label,
div.product_meta span.sku_wrapper {
    font-weight: bold;
}
div.product_meta span.sku_wrapper span.sku{
    font-weight: normal;
}

table.variations td.label label:after {
    content: ': ';
}

.ff-body {
    font-family: var(--bs-body-font-family);;
}

.fs-7 {
    font-size: .7rem;
}

.fs-8 {
    font-size: .8rem;
}

.fs-9 {
    font-size: .9rem;
}

.ao-ebooks .form-select,
.ao-ebooks input[type=text] {
    font-size: 0.8rem;
    height: 35px;
}

div.ao-sidebar .offcanvas-title {
    font-size: .8rem;
    font-weight: bold;
}

.ao-ebooks .input-group-text {
    background-color: #D82310;
    color: white;
}
