table.variations td.label label,
div.product_meta span.sku_wrapper {
    font-weight: bold;
}
div.product_meta span.sku_wrapper span.sku{
    font-weight: normal;
}

table.variations td.label label:after {
    content: ': ';
}

.ff-body {
    font-family: var(--bs-body-font-family);;
}

.fs-7 {
    font-size: .7rem;
}

.fs-8 {
    font-size: .8rem;
}

.fs-9 {
    font-size: .9rem;
}
